body {
    background-color: black;
    background-image: linear-gradient(
        to bottom,
        #000005,
        #000006,
        #000007,
        #000008,
        #000007,
        #000006,
        #000005
    );
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

figure {
    text-align: center;
    border-style: solid;
    border-color: darkblue;
    border-radius: 7px;
    border-width: 5px;
    width: 32rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #1c0a1f;
    margin-left: 5%;
    background-image: linear-gradient(
        to bottom right,
        #190e33,
        #250e36,
        #1c0a1f,
        #360e2d,
        #330e18
    );
}

img {
    width: 24rem;
    height: 27rem;
}

span {
    font-family: Impact, fantasy;
    font-size: 25px;
}

.container {
    text-align: center;
    margin-top: 2rem;
    border-style: solid;
    border-color: purple;
    border-radius: 10px;
    border-width: 12px;
    padding-bottom: 12px;
    background-color: pink;
    background-image: linear-gradient(
        to bottom right,
        #670ced,
        #ac0cf7,
        #d600e0,
        #f70c97,
        #ed0c21
    );
    box-shadow: 0 0 27px purple;
    animation: pulse 1s infinite;
}

#alguma-coisa {
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    stroke: #db00db;
    stroke-width: 5;
}
